In-class exercise 1.1
UW AMATH 301 - Jakob Kotas

In [36]:
#1a

import numpy as np
x1 = np.array([np.sqrt(2), np.pi])
x2 = np.matrix([np.sqrt(2), np.pi])
x3 = np.matrix([2**0.5, np.pi]) #2^(0.5)

#display(x1)
#display(x2)
#display(x3)

In [38]:
#1b

y1 = np.array([[np.e], [4-3j]])
y2 = np.matrix([[np.e], [4-3j]])

#display(y1)
#display(y2)

In [40]:
#1c

z1 = x1.T #np.array ignores whether vector is row or column
z2 = x2.T #np.matrix preserves dimension of vector
z3 = y1.T
z4 = y2.T

#display(z1)
#display(z2)
#display(z3)
#display(z4)

In [42]:
#2a

x1 = np.arange(5, 21, 1) #begin at 5 (inclusive), end at 21 (exclusive), in increments of 1
x2 = np.arange(5, 21) #default value of increment if left blank is 1
x3 = np.arange(5, 20.1) #any ending value in (20,21] should work
                        #vector contains floating point values, not integers. maybe not what we want

#display(x1)
#display(x2)
#display(x3)

In [44]:
#2b

y1 = np.arange(1.05, 1.21, 0.01)
y2 = np.arange(105, 121)/100
y3 = x1*0.01+1 #use result from part 2a

#display(y1)
#display(y2)
#display(y3)

In [46]:
#2c

z1 = 1/np.arange(5, 21, 1)
z2 = 1/x1 #use result from 2a
z3 = x3**-1
#z4 = x1**-1 #this doesn't work. why?-- further reading: https://stackoverflow.com/questions/43287311/why-cant-i-raise-to-a-negative-power-in-numpy

#display(z1)
#display(z2)
#display(z3)
#display(z4)

In [48]:
#2d

p1 = 10**np.arange(10, 1, -1)
p2 = 10**np.flip(np.arange(2,11,1)) #np.flip flips the elements of the vector
p3 = 10**np.flip(np.arange(2,11))

#display(p1)
#display(p2)
#display(p3)

In [50]:
#2e

q1 = np.sin(np.arange(0,np.pi*7/6,np.pi/6)) #pay attention to the last entry in the vector
q2 = np.sin(np.arange(0,7)*np.pi/6)
x = np.arange(0,7)*np.pi/6
q3 = np.sin(x)

#display(q1)
#display(q2)
#display(q3)

In [52]:
#3a

b = np.array([17, 11, -4, 0, -15])
A = np.array([[-7,3,0], [1,4,1], [-1,0,6], [0,-8,5], [-2,-2,2]])

x1 = b[0] #first element
x2 = b[2] #third element
x3a = b[4] #fifth element
x3b = b[-1] #last element-- better if you don't know / care about the length
x3c = b[len(b)-1] #len(b) means number of elements in b

#display(x1)
#display(x2)
#display(x3a)
#display(x3b)
#display(x3c)

In [54]:
#3b

y = A[3,1] #4th row, 2nd column

#display(y)

In [56]:
#3c

z1 = A[3,:] #4th row, all columns
p1 = A[:,1] #all rows, 2nd column

A = np.matrix([[-7,3,0], [1,4,1], [-1,0,6], [0,-8,5], [-2,-2,2]])
z2 = A[3,:]
p2 = A[:,1]

#display(z1)
#display(p1)
#display(z2)
#display(p2)

In [58]:
#3d

B1 = A[np.arange(1,4),:] #np.arange(1,4) is the vector [1,2,3], so this is the second, third, and fourth rows, all columns
B2 = A[1:4,:] #colon notation is shorter than np.arange

#display(B1)
#display(B2)

In [60]:
#3e

C1 = A[np.arange(0,5,2),:] #np.arange(0,5,2) is the vector [0,2,4], so this is the first, third, and fourth rows
C2 = A[0:5:2,:] #colon notation: different from Matlab

#display(C1)
#display(C2)

In [62]:
#4a

v = np.array([10, 56, 24, 19, 88, 37, 60, 70, 22, 56])
vlessthan20 = v<20 #try to make variable names helpful
#display(vlessthan20) #boolean vector
#display(vlessthan20*1) #0 and 1 vector

a = v[vlessthan20]

#display(a)

In [64]:
#4b

#vgreaterthanorequalto20 = v>=20 #yawn
vgreaterthanorequalto20 = ~vlessthan20 #~ means "not"
#display(vgreaterthanorequalto20)

b = v[vgreaterthanorequalto20]

#display(b)

In [66]:
#4c

c = np.mean(b)

#display(c)

In [68]:
#4d

d = v
d[d<20] = 99

#display(d)